<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/client/layouts/base_layout"
>

<th:block layout:fragment="additional-link-at-head">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/about.css">
    <link rel="stylesheet" href="/client/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</th:block>
<th:block layout:fragment="main-content">
    <section class="h-auto form-login">
        <div class="container py-5 h-auto">
            <div class="row d-flex justify-content-center align-items-center h-auto">
                <div class="col col-xl-10">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded custom-rounded">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="/client/images/login.png"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form>

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">ĐĂNG NHẬP</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Đăng nhập vào tài khoản của bạn</h5>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark">Email</label>
                                            <input type="email" class="form-control form-control-lg" required autofocus />
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark">Mật khẩu</label>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-lg" required/>
                                                <div id="eye">
                                                    <i class="fa fa-eye text-dark"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-submit" type="submit">Đăng Nhập</button>
                                        </div>

                                        <a class="small text-muted" href="forgotpassword">Quên mật khẩu?</a>
                                        <p class="mb-n3 pb-lg-0" style="color: #393f81;">Bạn không có tài khoản? <u><a href="register"
                                                                                                                       style="color: #393f81;">Đăng ký ngay</a></u></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<th:block layout:fragment="additional-link-at-bottom">
    <script>
        $(document).ready(function(){
            $('#eye').click(function(){
                $(this).toggleClass('open');
                $(this).children('i').toggleClass('fa-eye-slash fa-eye');
                if($(this).hasClass('open')){
                    $(this).prev().attr('type', 'text');
                }else{
                    $(this).prev().attr('type', 'password');
                }
            });
        });
    </script>
</th:block>