<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/client/layouts/base_layout"
>

<th:block layout:fragment="additional-link-at-head">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/login.css">
</th:block>
<th:block layout:fragment="main-content">
    <section class="h-auto form-login">
        <div class="container py-5 h-auto">
            <div class="row d-flex justify-content-center align-items-center h-auto">
                <div class="col col-xl-10">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded custom-rounded">
                        <div class="row g-0">

                            <div class="col-md-6 col-lg-12 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form>

                                        <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">ĐĂNG KÝ</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Đăng ký
                                            nhanh chóng và dễ dàng</h5>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark" for="form2Example17">Họ và tên</label>
                                            <input type="text" id="form2Example17" class="form-control form-control-lg"
                                                   required autofocus/>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark" for="form2Example17">Email</label>
                                            <input type="email" id="form2Example17" class="form-control form-control-lg"
                                                   required/>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark" for="form2Example27">Mật khẩu</label>
                                            <input type="password" id="form2Example27"
                                                   class="form-control form-control-lg" required/>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark" for="form2Example17">Nhập lại mật
                                                khẩu</label>
                                            <input type="password" id="form2Example27"
                                                   class="form-control form-control-lg" required/>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                    class="btn btn-lg btn-block btn-submit" style="color: white" type="submit">Đăng Ký
                                            </button>
                                        </div>

                                        <p class="mb-n3 pb-lg-0" style="color: #393f81;">Bạn đã có tài khoản?
                                            <a href="/login" style="text-decoration: underline">Đăng nhập ngay</a>
                                        </p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>