<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/app"
>

<th:block layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Chỉnh sửa dịch vụ</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Quản lý dịch vụ</li>
        </ol>
    </div>
</th:block>

<th:block layout:fragment="content-body">
    <form>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Tên dịch vụ: </label>
                    <input type="text" class="form-control" placeholder="Enter" id="doctor_name">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label>Giá: </label>
                    <input type="text"class="form-control" placeholder="Enter" id="doctor_specialty">
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label>Mô tả: </label>
                    <textarea class="form-control" rows="3" placeholder="Enter" id="doctor_diploma"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-primary float-right">Xác nhận</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default">Hủy bỏ</button>
            </div>
        </div>
    </form>
</th:block>
</html>