<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">

    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <style>
        .content-wrapper {
            width: 70%;
            margin: 30px auto;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <form>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Edit Doctor's Detail</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" class="form-control" placeholder="Enter name">
                                </div>

                                <div class="form-group">
                                    <label for="specialty">Specialty</label>
                                    <input type="text" id="specialty" class="form-control" placeholder="Enter specialty">
                                </div>

                                <div class="form-group">
                                    <label for="diploma">Diploma</label>
                                    <input type="text" id="diploma" class="form-control" placeholder="Enter diploma">
                                </div>

                                <div class="form-group">
                                    <label for="workplace">Workplace</label>
                                    <input type="text" id="workplace" class="form-control" placeholder="Enter workplace">
                                </div>

                                <div class="form-group">
                                    <label for="introdution">Introduction</label>
                                    <input type="text" id="introdution" class="form-control" placeholder="Enter introdution">
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                                <button type="submit" class="btn btn-default float-right" onclick="cancel(event)">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <script>
        function cancel(event) {
            event.preventDefault();
            window.location.href = 'doctor.html';
        }
    </script>
</body>