<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">

    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <style>
        td button {
            display: inline-block;
            margin-right: 5px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-8">
                            <h1>Patient</h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">List of patient</h3>
                                </div>

                                <div class="card-body">
                                    <table id="patientTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Date of birth</th>
                                                <th>Gender</th>
                                                <th>Address</th>
                                                <th>Citizen ID</th>
                                                <th>Career</th>
                                                <th>Insurance</th>
                                                <th>User_ID</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="patientTableBody">
                                            <tr>
                                                <td>1</td>
                                                <td>Nguyễn B</td>
                                                <td>09XX XXX XXX</td>
                                                <td>19/06/1966</td>
                                                <td>Male</td>
                                                <td>59 Street</td>
                                                <td>20402456</td>
                                                <td>Engineer</td>
                                                <td>GKS797</td>
                                                <td>HKO9905</td>
                                                <td>
                                                    <a href="patient_edit.html" class="btn btn-success">Edit</a>
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        var patients = JSON.parse(localStorage.getItem('patients')) || [];

        var tableBody = document.getElementById('patientTableBody');
        patients.forEach(function(patient, index){
            var newRow = tableBody.insertRow();
            newRow.innerHTML = `
                <td>${index + 1}</td>
                <td>${patient.name}</td>
                <td>${patient.phone}</td>
                <td>${patient.dob}</td>
                <td>${patient.gender}</td>
                <td>${patient.address}</td>
                <td>${patient.citizen_ID}</td>
                <td>${patient.career}</td>
                <td>${patient.insurance}</td>
                <td>
                    <button type="button" class="btn btn-success" onclick="editPatient(${index})">Edit</button>
                    <button type="button" class="btn btn-danger" onclick="deletePatient(${index})">Delete</button>
                </td>`;
        });

        
    </script>
</body>