<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/app"
>
<th:block layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Văn bản khoa CNTT</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Văn bản khoa CNTT</li>
        </ol>
    </div>
</th:block>

<th:block layout:fragment="content-body">
    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <!--body-->
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="document-script">
    <script src="/js/document.js"></script>
</th:block>
</html>
