.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 2px;

    left: 140px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-title {
    font-size: 30px;
    color: black;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

.doctorClose {
    color: #aaa;
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 10px; /* Khoảng cách từ phía trên */
    right: 10px; /* Khoảng cách từ phía trái */
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .modal-title{
    font-weight: 0.6;
    opacity: 0.7;
    font-size: 30px;

}

.modal-content .modal-content-body{
    width: 100%;
    height: 100%;

}

.table-button-container {
    display: absolute;
    top: 50%;
    transform: translateY(-10%);
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-button-container button {
    margin-right: 5px;
}

.button-cell {
    position: relative;
}

.openDoctorModalBtn {
    background-color: rgba(60,179,113,1);
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.openDoctorModalBtn:hover {
    background-color: rgba(60,149,113,1);
}

.doctorEditClose {
        color: #aaa;
        position: absolute; /* Đặt vị trí tuyệt đối */
        top: 10px; /* Khoảng cách từ phía trên */
        right: 10px; /* Khoảng cách từ phía trái */
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
}

.input-row {
    display: flex;
    margin: 30px 0;
}

.input-container {

    flex: 1;
    margin-left: 40px;
    margin-right: 80px;
}

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 40%;
}

#changeAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 40%;
}

#upload_label {
    position: flex;
    background: rgba(23, 149, 232, 1);
    display: block;
    width: 200px;
    color: #fff;
    padding: 12px;
    margin: 10px 40%;
    border-radius: 5px;
    cursor:pointer;
    text-align: center;
}

#upload_label:hover {
    background: rgba(120, 147, 239, 1);
}

#upload_image {
    display: none;
}

#change_upload_label {
    position: flex;
    background: rgba(23, 149, 232, 1);
    display: block;
    width: 200px;
    color: #fff;
    padding: 12px;
    margin: 10px 40%;
    border-radius: 5px;
    cursor:pointer;
    text-align: center;
}

#change_upload_label:hover {
    background: rgba(120, 147, 239, 1);
}

#change_upload_image {
    display: none;
}