.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 2px;

    left: 140px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-title {
    font-size: 30px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.serviceClose {
    color: #aaa;
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 10px; /* Khoảng cách từ phía trên */
    right: 10px; /* Khoảng cách từ phía trái */
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.openServiceModalBtn {
    background-color: rgba(60,179,113,1);
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.openServiceModalBtn:hover {
    background-color: rgba(60,149,113,1);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.serviceEditClose {
        color: #aaa;
        position: absolute; /* Đặt vị trí tuyệt đối */
        top: 10px; /* Khoảng cách từ phía trên */
        right: 10px; /* Khoảng cách từ phía trái */
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
}