<html lang="vi"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/app"
>
<th:block layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Bệnh án</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Bệnh án</li>
        </ol>
    </div>
</th:block>

<th:block layout:fragment="content-body">
    <form>
        <div class="row">
            <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group" style="width: 75%">
                    <label>Họ và tên:</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="width: 75%">
                    <label>Địa chỉ:</label>
                    <input type="text" class="form-control" placeholder="Enter ..." disabled="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Ngày sinh:</label>
                    <input class="form-control" type="date" style="width: 75%">
                </div>
            </div>
            <div class="col-sm-6">
                <!-- textarea -->
                <div class="form-group">
                    <label>Chuẩn đoán bệnh:</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
            </div>
        </div>
    </form>
    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <!--body-->
        <div class="row">
            <div class="col-sm-12">
                <table id="example1"
                       class="table table-bordered table-hover dataTable dtr-inline"
                       aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th class="sorting"
                            aria-label="Rendering engine: activate to sort column descending">
                            STT
                        </th>
                        <th class="sorting">Mã dịch vụ</th>
                        <th class="sorting">Dịch vụ</th>
                        <th class="sorting">Giá</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">1</td>
                        <td>SA001</td>
                        <td>Siêu âm</td>
                        <td>100.000</td>
                    </tr>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">2</td>
                        <td>NS001</td>
                        <td>Nội soi</td>
                        <td>150.000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>Dịch vụ:</div>
            <div class="col-sm-12">
                <table id="example2"
                       class="table table-bordered table-hover dataTable dtr-inline"
                       aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th class="sorting"
                            aria-label="Rendering engine: activate to sort column descending">
                            STT
                        </th>
                        <th class="sorting">Dịch vụ</th>
                        <th class="sorting">Giá</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">1</td>
                        <td>Siêu âm</td>
                        <td>100.000</td>
                    </tr>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">2</td>
                        <td>Nội soi</td>
                        <td>150.000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="document-script">
    <script src="/js/document.js"></script>
</th:block>
</html>
