<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/dashboard/layout/app"
>

<head>
    <link rel="stylesheet" href="/static/dashboard/css/doctor.css" />
</head>

<th:block layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Quản lý nhân sự</h1>
    </div>

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Quản lý nhân sự</li>
        </ol>
    </div>
</th:block>

<th:block layout:fragment="content-body">
    <button class="button-detail openDoctorModalBtn">
        Thêm bác sĩ
    </button>

    <div id="doctorModal" class="modal">
        <div class="modal-content">
            <span class="doctorClose">&times;</span>
            <p class="modal-title">Thông tin bác sĩ</p>
            <div class="modal-content-body">
                <hr>
                <div class="input-row">
                    <div class="input-container">
                        <label for="doctor_name">Họ và tên</label>
                        <input class="form-control" type="text" id="doctor_name" placeholder="Nhập họ và tên">
                    </div>
                    <div class="input-container">
                        <label for="doctor_specialty">Chuyên môn</label>
                        <input class="form-control" type="text" id="doctor_specialty" placeholder="Nhập chuyên môn">
                    </div>
                    <div class="input-container">
                        <label for="doctor_diploma">Bằng cấp</label>
                        <input class="form-control" type="email" id="doctor_diploma" placeholder="Nhập bằng cấp">
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-container">
                        <label for="doctor_workplace">Nơi làm việc</label>
                        <input class="form-control" type="text" id="doctor_workplace" placeholder="Nhập nơi làm việc">
                    </div>

                    <div class="input-container">
                        <label for="doctor_introduction">Giới thiệu</label>
                        <textarea class="form-control" rows="3" id="doctor_introduction" placeholder="Nhập giới thiệu"></textarea>
                    </div>
                </div>
                <div class="button-container">
                    <button id="okBtn">OK</button>

                </div>
            </div>
        </div>
    </div>

    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <!--body-->
        <div class="row">
            <div class="col-sm-12">
                <table id="example1"
                       class="table table-bordered table-hover dataTable dtr-inline"
                       aria-describedby="example2_info">
                    <thead>
                    <tr>
                        <th class="sorting"
                            aria-label="Rendering engine: activate to sort column descending">
                            STT
                        </th>
                        <th class="sorting">Họ và tên</th>
                        <th class="sorting">Chuyên môn</th>
                        <th class="sorting">Bằng cấp</th>
                        <th class="sorting">Nơi làm việc</th>
                        <th class="sorting">Giới thiệu</th>
                        <th class="sorting">Mã bác sĩ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">1</td>
                        <td>Nguyễn A</td>
                        <td>Siêu âm</td>
                        <td>Đại học Âm nhạc</td>
                        <td>Bệnh viện Lang Băm</td>
                        <td>Bác sĩ giỏi nhất thế giới...</td>
                        <td>GJH934</td>
                        <td class="pr-3"> <button type="button" class="btn btn-success mr-2">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button> </td>
                    </tr>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">1</td>
                        <td>Nguyễn A</td>
                        <td>Siêu âm</td>
                        <td>Đại học Âm nhạc</td>
                        <td>Bệnh viện Lang Băm</td>
                        <td>Bác sĩ giỏi nhất thế giới...</td>
                        <td>GJH934</td>
                        <td class="pr-3"> <button type="button" class="btn btn-success mr-2">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="document-script">
    <script src="/static/dashboard/js/appointment_schedule.js"></script>
</th:block>
</html>